<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-sl-12">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Progress bar</p>
                <div class="progress mt-2">
                    <div 
                    class="progress-bar bg-primary progress-bar-striped active" 
                    role="progressbar" 
                    style="height:5px;"
                    [style.width]="getProcentaje1"
                    ></div>
                </div>
                <div class="progress mt-2">
                    <div 
                    class="progress-bar bg-info progress-bar-striped active" 
                    role="progressbar" 
                    style="height:5px;"
                    [style.width]="getProcentaje2"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-sl-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador 
                    [valor]="progreso1"
                    [btnClass]="'btn-primary'"
                    (valor)="progreso1 = $event"
                ></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-sl-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador 
                    [valor]="progreso2"
                    [btnClass]="'btn-info'"
                    (valor)="progreso2 = $event"
                ></app-incrementador>
            </div>
        </div>
    </div>
</div>